<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SnackHub Time | Newsfeed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <img src="assets/burger1.jpg" alt="homepage">
      <ion-card-subtitle> Posted by: SnackHub - Admin </ion-card-subtitle>
      <br>
      <center><ion-card-title>BEST SELLER: Burger Supreme </ion-card-title>
      <ion-card-subtitle> Treat your family & friends, NOW! </ion-card-subtitle> </center>
    
    </ion-card-header>
  
    <ion-card-content>
      Kamusta kayo, mga Katambay? We have a very special offer for everyJuan. Our Burger Supreme
      is now 2x bigger, yummier, and juicier! Perfect for every Katambay na love na love ang
      ating burger supreme! Yum! 
      <br>
      <br>
      Visit us here at: 210315 St., Mema City
      <br>
      Kitakits! :)

    </ion-card-content>
  </ion-card>

  <ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>9</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Account</ion-label>
      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>





